{{body}}

<div class="container">
  <br>
  <a href="/"><button class="btn-button">VOLTAR</button></a>
  <hr>
</div>

<!-- Container Principal -->
<div class="container text-center">
  <div class="row">
    <div class="col-sm-12">

      <!-- Container Título -->
      <div class="container nomeApp">
        <h5>Calendário Escolar ETEC - 2020</h5>
      </div>

      <!-- Container Imagem -->
      <div class="container imgLogin">
        <div class="container4 borderLogin">
          <img class="imgUser" src="./img/user.png" alt="imagem do usuário"><img>
        </div>
      </div>

      <!-- Container Formulário -->
      <div class="container form">
        <form action="/cadastrandologin" method="POST">
          <div class="form-group row" aling="text-center">
            <div class="col-sm-12">
              <input data-ls-module="charCounter" maxlength="6" name="RM" type="text" class="form-control numerico text-center" id="inputPassword" placeholder="RM"
                required="required">
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-12">
              <input data-ls-module="charCounter" maxlength="4" name="senha" type="password" class="form-control numerico text-center" id="inputPassword3"
                placeholder="Senha" required="required">
            </div>
          </div>
          <div class="col-sm-12">
            <button type="submit" class="btn btn-button">Logar</button>
          </div>
        </form> <!-- Fim do Formulário -->
      </div> <!-- Fim do Container formulário -->
    </div> <!-- Fim da Coluna 'col' -->
  </div> <!-- Fim da Linha 'row' -->
</div> <!-- Fim do Container Principal -->