{{body}}

<!-- Eventos -->
<div class="container">
  <br>
  <a href="/cadastrados"><button class="btn-button">VOLTAR</button></a>
  <hr>

  <!-- Form -->
  <div class="card border mb-3 shadow-lg p-3 mb-5 bg-white rounded">

    <!-- Form Header -->
    <div class="card-header text-center">
      <h7>Calendário 1º semestre</h7>
    </div>
    <br>

    <!-- Cadastro de calendários -->
    <div class="container col-lg-8 col-md-10 col-sm-12 text-center mc">
      <table class="table table table-bordered">
        <thead>
          <tr>
            <th scope="col">Dom</th>
            <th scope="col">Seg</th>
            <th scope="col">Ter</th>
            <th scope="col">Qua</th>
            <th scope="col">Qui</th>
            <th scope="col">Sex</th>
            <th scope="col">Sab</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
          </tr>
          <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
          </tr>
          <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
          </tr>
          <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
          </tr>
        </tbody>
        </js>
      </table>
    </div>
  </div>
</div>