{{body}}

<div class="text-center">
  <h2>Em breve, esse será o calendário do 2º SEMESTRE, aguarde a homologação!!!</h2>
</div>

<!-- Calendar 2 -->
<div class="container">
  <br>
  <a href="/cadastrados"><button class="btn-bottom">VOLTAR</button></a>
  <hr>

  <!-- Form -->
  <div class="card border mb-3 shadow-lg p-3 mb-5 bg-white rounded">

    <!-- Form Header -->
    <div class="card-header text-center">
      <h7>Calendário 2º semestre</h7>
    </div>
    <br>

    <!-- Estrutura do calendário -->
    <div class="container text-center col-lg-6 col-md-8 col-sm-12">
      <table class="table table table-bordered card-header-calendar">
        <thead>
          <tr class="diaSemana">
            <th scope="col">Domingo</th>
            <th scope="col">Segunda</th>
            <th scope="col">Terça</th>
            <th scope="col">Quarta</th>
            <th scope="col">Quinta</th>
            <th scope="col">Sexta</th>
            <th scope="col">Sábado</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="alert alert-danger">1</div>
            </td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
          </tr>
          <tr>
            <td>
              <div class="alert alert-danger">8</div>
            </td>
            <td>9</td>
            <td>10</td>
            <td>11</td>
            <td>12</td>
            <td>13</td>
            <td>14</td>
          </tr>
          <tr>
            <td>
              <div class="alert alert-danger">15
                <br>
                {{#each eventos}}
                <p>{{descricao}}</p>
                {{/each}}
              </div>
            </td>
            <td>16</td>
            <td>17</td>
            <td>18</td>
            <td>19</td>
            <td>20</td>
            <td>21</td>
          </tr>
          <tr>
            <td>
              <div class="alert alert-danger">22</div>
            </td>
            <td>23</td>
            <td>24</td>
            <td>25</td>
            <td>26</td>
            <td>27</td>
            <td>28</td>
          </tr>
          <tr>
            <td>
              <div class="alert alert-danger">29</div>
            </td>
            <td>30</td>
            <td>31</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>