{{body}}

<!-- Calendar 2 -->
<div class="container">
  <br>
  <a href="/cadastrados"><button class="btn-bottom">VOLTAR</button></a>
  <hr>

  <!-- Navbar -->
  <navbar class=" mb-3 shadow-lg rounded">
    <div class="card-header text-center">
      <h7>Atividade do DIA</h7>
    </div>
  </navbar>

  <!-- Container EVENTO -->
  <div class="container btn-evento mt-3 col-lg-6 col-md-8 col-sm-10">

    <!-- Formulário EVENTO -->
    <form action="/calendar2" method="POST">
      
      <!-- DATA -->
      <div class="card-body text-white mb-5">
        <input type="date" id="dia" name="dia">

        <!-- DESCRIÇÃO -->
        <textarea class="mt-5 text-center" id="descricao" name="descricao" rows="2" cols="50" placeholder="Insira a descrição da atividade"></textarea>
        <br>
        <button class="mt-3 btn-bottom">CADASTRAR</button>
      </div>     
    </form> <!-- Fim do Formulário -->
  </div> <!-- Fim do container EVENTO -->
</div><!-- Fim do CALENDAR -->