{{body}}
  
    <header>
        <div class="row justify-content-md-center">
            <div class="col-md-auto">
                <div class="titulo-cab">
                    <i class="fas fa-calendar-check"></i>
                    <strong> BEM VINDO AO CALENDÁRIO ETEC. JOÃO BELARMINO </strong>
                </div>
            </div>
        </div>
    </header>

    <div class="container"> <!--INICIO CONTAINER -->
  

        <div class="row mt-5 row-main"> <!--ROW-->
            
            <!--TIPS 01-->
            <div class="col-xl-4 mb-5 mx-auto"> 
                <div class="card-tip text-body">
                    <div class="card h-100 shadow bg-dark text-white">
                        <div class="card-body">
                            <i class="fas fa-exclamation text-primary"></i>
                            <p> Selecione um curso e acesse seu calendário específico.</p>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- TIPS 02  -->
            <div class="col-xl-4 mb-5 mx-auto"> 
                <div class="card-tip text-body">
                    <div class="card card h-100 shadow bg-dark text-white">
                        <div class="card-body">
                            <i class="fas fa-exclamation text-primary"></i>
                            <p> Você também pode acessar o calendário geral da ETEC. </p>
                        </div>
                    </div>
                </div>   
            </div>
        </div> <!-- FIM Row--> 
        <br><br>

        <table class="tabela-cursos table-hover table-dark mx-auto table-sm "><!--Tabela de cursos -->
            <thead>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col">ETEC</th>
            </thead>

            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td> <a href="/calendar" class="link-cursos"> Calendário Geral </a> </td>
            </tr>

            <thead>
                <tr>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col">CURSOS</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td></td>
                    <td></td>
                    <td> <a href="/testelucas" class="link-cursos">  Administração </a> </td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td></td>
                    <td></td>
                    <td> <a href="calendarios/02.ejs" class="link-cursos">  Contabilidade </a> </td>
                </tr>

                <tr>
                    <th scope="row">3</th>
                    <td></td>
                    <td></td>
                    <td> <a href="calendarios/03.ejs" class="link-cursos">  Design de interiores </a> </td>
                </tr>

                <tr>
                    <th scope="row">4</th>
                    <td></td>
                    <td></td>
                    <td> <a href="calendarios/04.ejs" class="link-cursos">  Desenho da construção civil </a> </td>
                </tr>

                <tr>
                    <th scope="row">5</th>
                    <td></td>
                    <td></td>
                    <td> <a href="calendarios/05.ejs" class="link-cursos">  Desenvolvimento de sistemas </a> </td>
                </tr>

                <tr>
                    <th scope="row">6</th>
                    <td></td>
                    <td></td>
                    <td> <a href="calendarios/06.ejs" class="link-cursos">  Eletrotécnica </a> </td>
                </tr>

                <tr>
                    <th scope="row">7</th>
                    <td></td>
                    <td></td>
                    <td> <a href="calendarios/07.ejs" class="link-cursos">  Enfermagem </a> </td>
                </tr>

                <tr>
                    <th scope="row">8</th>
                    <td></td>
                    <td></td>
                    <td> <a href="calendarios/08.ejs" class="link-cursos">  Logística </a> </td>
                </tr>

                <tr>
                    <th scope="row">9</th>
                    <td></td>
                    <td></td>
                    <td> <a href="calendarios/09.ejs" class="link-cursos">  Mecânica </a> </td>
                </tr>

                <tr>
                    <th scope="row">10</th>
                    <td></td>
                    <td></td>
                    <td> <a href="calendarios/10.ejs" class="link-cursos">  Química </a> </td>
                </tr>

                <tr>
                    <th scope="row">11</th>
                    <td></td>
                    <td></td>
                    <td> <a href="calendarios/11.ejs" class="link-cursos"> Segurança do trabalho </a> </td>
                </tr>

                <tr>
                    <th scope="row">12</th>
                    <td></td>
                    <td></td>
                    <td> <a href="calendarios/12.ejs" class="link-cursos"> Turismo receptivo  </a> </td>
                </tr>
            </tbody>
        </table> <!-- FIM Tabela de cursos -->
    </div> <!-- FIM  conteinar-->
    <br><br><br><br><br><br>

    <footer class="text-black-50 p-2 text-center">
        <div class="discricao">
            <p> ETEC João Belarmino - Desenvolvimento de Sistemas 
                <br>
                <a href="/adm"> 
                    <i class="fas fa-user-lock"></i>
                </a> 
            </p>
        </div>
    </footer>
    