{{body}}

    <div class="container">
        <h2 class="tituloP">Lista de Calendários cadastrados: </h2>
    <br>
    <a href="/"><button>VOLTAR</button></a>
    <a href="/selecao"><button>CADASTRAR</button></a>
    <hr>

    {{#each logins}}
        <h3>Ano: {{ano}}</h3>
        <p>Semestre: {{semestre}}</p>
        
        <a href="/del/{{id}}"><button>DELETAR</button></a>
        <br><br>
        
        <hr>
    {{/each}}
    </div>
    

