<div class="container">
  <div class="curso-title text-center">
    <h2>Administração</h2>
  </div>

  <div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-pills card-header-pills">
        <li class="nav-item">
          <a class="nav-link active" href="#">Janeiro</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Fevereiro</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Março</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Abril</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Maio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Junho</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Julho</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Setembro</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Outro</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Novembro</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Dezembro</a>
        </li>
      </ul>
    </div>
    <div class="card-body">

      <div class="container-calendario">
        <div class="row">

          <div class="col-sm">
            <h3> Segunda </h3>
          </div>
          <div class="col-sm">
            <h3> Terça </h3>
          </div>
          <div class="col-sm">
            <h3> Quarta </h3>
          </div>
          <div class="col-sm">
            <h3> Quinta </h3>
          </div>
          <div class="col-sm">
            <h3> Sexta </h3>
          </div>
          <div class="col-sm">
            <h3> Sábado </h3>
          </div>
        </div>

        <div class="row">

          <div class="col-sm">
            <div class="card-day text-white bg-warning mb-3">
              <div class="card-header">1</div>
              <div class="card-body">
                Descrição
              </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="card-day text-white bg-primary mb-3">
              <div class="card-header">2</div>
              <div class="card-body">

              </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="card-day text-white bg-primary mb-3">
              <div class="card-header">3</div>
              <div class="card-body">

              </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="card-day text-white bg-primary mb-3">
              <div class="card-header">4</div>
              <div class="card-body">

              </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="card-day text-white bg-success mb-3">
              <div class="card-header">5</div>
              <div class="card-body">
                Descrição
              </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="card-day text-white bg-primary mb-3">
              <div class="card-header">6</div>
              <div class="card-body">

              </div>
            </div>
          </div>
          <div class="w-100"></div>
          <div class="col-sm">
            <div class="card-day text-white bg-primary mb-3">
              <div class="card-header">7</div>
              <div class="card-body">

              </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="card-day text-white bg-primary mb-3">
              <div class="card-header">8</div>
              <div class="card-body">

              </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="card-day text-white bg-primary mb-3">
              <div class="card-header">9</div>
              <div class="card-body">

              </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="card-day text-white bg-danger mb-3">
              <div class="card-header">10</div>
              <div class="card-body">
                Descrição
              </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="card-day text-white bg-primary mb-3">
              <div class="card-header">11</div>
              <div class="card-body">

              </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="card-day text-white bg-primary mb-3">
              <div class="card-header">12</div>
              <div class="card-body">

              </div>
            </div>
          </div>
          <div class="w-100"></div>
          <div class="col-sm">
            <div class="card-day text-white bg-primary mb-3">
              <div class="card-header">13</div>
              <div class="card-body">

              </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="card-day text-white bg-primary mb-3">
              <div class="card-header">14</div>
              <div class="card-body">

              </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="card-day text-white bg-primary mb-3">
              <div class="card-header">15</div>
              <div class="card-body">

              </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="card-day text-white bg-primary mb-3">
              <div class="card-header">16</div>
              <div class="card-body">

              </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="card-day text-white bg-primary mb-3">
              <div class="card-header">17</div>
              <div class="card-body">

              </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="card-day text-white bg-primary mb-3">
              <div class="card-header">18</div>
              <div class="card-body">

              </div>
            </div>
          </div>
          <div class="w-100"></div>
          <div class="col-sm">
            <div class="card-day text-white bg-primary mb-3">
              <div class="card-header">19</div>
              <div class="card-body">

              </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="card-day text-white bg-primary mb-3">
              <div class="card-header">20</div>
              <div class="card-body">

              </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="card-day text-white bg-primary mb-3">
              <div class="card-header">21</div>
              <div class="card-body">

              </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="card-day text-white bg-primary mb-3">
              <div class="card-header">22</div>
              <div class="card-body">

              </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="card-day text-white bg-primary mb-3">
              <div class="card-header">23</div>
              <div class="card-body">

              </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="card-day text-white bg-primary mb-3">
              <div class="card-header">24</div>
              <div class="card-body">

              </div>
            </div>
          </div>
          <div class="w-100"></div>
          <div class="col-sm">
            <div class="card-day text-white bg-primary mb-3">
              <div class="card-header">25</div>
              <div class="card-body">
                Descrição
              </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="card-day text-white bg-primary mb-3">
              <div class="card-header">26</div>
              <div class="card-body">

              </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="card-day text-white bg-primary mb-3">
              <div class="card-header">27</div>
              <div class="card-body">

              </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="card-day text-white bg-primary mb-3">
              <div class="card-header">28</div>
              <div class="card-body">

              </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="card-day text-white bg-success mb-3">
              <div class="card-header">29</div>
              <div class="card-body">
                Descrição
              </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="card-day text-white bg-primary mb-3">
              <div class="card-header">30</div>
              <div class="card-body">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> <!-- FIM  CONTAINER -->