/********************************** CSS ADMIN.handlebars **********************************/

/* Body */
body {
    background-color: black;
}

/* Container Principal  */


/* Container Título */
.nomeApp {
    margin-top: 5px;
    padding: 30px;
    font-family: Cochin;
    font-style: italic;
    color: white;
    background-color:rgb(0, 0, 0);
    max-width: 700px;
}

/* Container Imagem */   
.imgLogin {
    padding: 30px;
    color: white;
    background-color: rgb(0, 0, 0);
    max-width: 700px;
}

.borderLogin {
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 150px;
    max-height: 300px;
    background-image: linear-gradient(281deg, rgba(0, 147, 233, 0.9) 0%, rgba(128, 208, 199, 0.9) 100%);
    border-radius: 100px;
}

.imgUser {
    max-width: auto;
    max-height: 100px;
    align-items: center;
}

/* Container Formulário */
.form {
    padding: 50px 10px;
    max-width: 700px;
    background-color: rgb(0, 0, 0);
}

div.form-group {
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.btn-logar {
    background-color: rgb(0, 50, 0);
    color: white;
}

.btn-logar:hover {
    background-color: rgb(0, 40, 0);
    color: white;
}

