/* GLOBAL */


/********************************** CSS ADMIN.handlebars **********************************/
/* Container Título */
.nomeApp {
    margin-top: 5px;
    padding: 30px;
    font-family: Cochin;
    font-style: italic;
    color: white;
    background-color: rgb(0, 0, 0);
    max-width: 700px;
}

/* Container Imagem */
.imgLogin {
    padding: 30px;
    color: white;
    background-color: black;
    max-width: 700px;
}

.borderLogin {
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 150px;
    max-height: 300px;
    background-image: linear-gradient(281deg, rgba(0, 147, 233, 0.9) 0%, rgba(128, 208, 199, 0.9) 100%);
    border-radius: 100px;
}

.imgUser {
    max-width: auto;
    max-height: 100px;
    align-items: center;
}

/* Container Formulário */
.form {
    padding: 50px 10px;
    margin-bottom: 20px;
    max-width: 700px;
    background-color: rgb(0, 0, 0);
}

div.form-group {
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.btn-bottom {
    background: linear-gradient(to bottom, #000050, #307090);
    color: white;
}

.btn-bottom:hover {
    background: linear-gradient(to top, #000050, #307090);
    color: white;
}

/*************************************** CSS CADASTRADOS.handlebars ***************************************/
@media screen and (max-width: 600px) {
  div.ml {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 500px) and (min-width: 500px) {
  div.mc {
    margin-left: -7.5px;
    margin-right: auto;
  }
}

/* Form Header */

.card-header {
  color: white;
  background-image: linear-gradient(to top, #000030, #307090);
  font-size: 30px;
  font-family: 'Geneva';
  margin-top: auto;
  margin-bottom: auto;
}

.card-header-estrutura {
  color: white;
  background: linear-gradient(to bottom, #000030, #169adb);
  font-size: 10px;
  font-family: 'Geneva';
  margin-top: auto;
  margin-bottom: auto;
}

.img {
  margin-top: auto;
  margin-bottom: auto;
  max-height: 30px;
  max-width: 30px;
}

/**************************************** CSS CADASTRAR.handlebars ****************************************/

/* Título Estrutura Calendário */
.diaSemana {
  margin-top: 5px;
  padding: 30px;
  font-family: Cochin;
  font-style: italic;
  font-size: 15px;
  color: white;
  background-color: rgb(0, 0, 50);
}

ul.dropdown-menu {
  background: linear-gradient(to bottom, rgb(0, 0, 50), rgb(30, 70, 90));
  color: white;
}

ul.dropdown-menu:hover {
  background: linear-gradient(to bottom, rgb(0, 0, 100), rgb(60, 140, 180));
  color: white;
}

a.menu {
  color: white;
}

a.menu:hover {
  color: white;
}
/**************************************** CSS EVENTOS.handlebars ****************************************/
.btn-evento {
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  max-width: 150px;
  max-height: 250px;
  background: linear-gradient(to bottom, rgb(0, 0, 50), rgb(30, 70, 90)); 
  border-radius: 20px;
}

